.background {
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  height: 100%;
}

.cloudy {
  background-image: url("./images/cloudy.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  height: 100%;
}

.rainy {
  background-image: url("./images/rainy.jpeg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  height: 100%;
}

.snowy {
  background-image: url("./images/snowy.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  height: 100%;
}

.clear {
  background-image: url("./images/clear.jpg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  height: 100%;
}

header {
  position: relative;
  background-color: #289fed;
  width: 100%;
}

.light {
  background-color: #289fed;
}

.dark {
  background-color: #0e324b;
}

/* Toggle Switch CSS*/

.switch {
  position: absolute;
  right: 0.5rem;
  top: 0.8rem;
  width: 70px; /*standard+10*/
  height: 44px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 36px;
  width: 36px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #060707;
}

input:focus + .slider {
  box-shadow: 0 0 1px #060707;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.theme-icon {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 20px;
  transition: 0.4s;
}

input:checked + .slider .theme-icon {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.oneCityDiv {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  gap: 5rem;
}

.searchDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  width: 300px;
}

.searchInput {
  position: absolute;
  top: 1rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  height: 2rem;
  width: 300px;
}

.dropDown {
  position: absolute;
  top: 3rem;
  width: 300px;
  background-color: white;
  border-radius: 0.5rem;
  max-height: 150px;
  overflow: visible;
}

.suggestions {
  background-color: white;
  border-radius: 0.5rem;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.recentTitle {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  color: gray;
  font-size: 12pt;
}

.suggestionTitle {
  display: flex;
  padding: 0 0.5rem;
  color: gray;
  font-size: 12pt;
}

.noResults {
  display: flex;
  justify-content: center;
  background-color: #289fed;
  color: gray;
}

.loading {
  display: flex;
  justify-content: center;
  background-color: #289fed;
  color: white;
}

.error {
  display: flex;
  justify-content: center;
  background-color: #289fed;
  color: red;
}

.titleDiv {
  display: flex;
  justify-content: center;
}

.bigTitle {
  color: white;
  margin: 0.5em 0;
}

.searchButton {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #289fed;
  color: white;
  cursor: pointer;
}

.highlight {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #5fb8ff;
  color: white;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #5fb8ff;
}

.defaultCities {
  display: flex;
  justify-content: center;
  justify-self: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 5rem;
}
