.background {
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  height: 100%;
}

.oneCityDiv {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.oneCityCard {
  background-color: #289fed;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow:
    5px 5px 0px 0px #289fed,
    10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff;
  box-shadow:
    5px 5px 0px 0px #289fed,
    10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff;
}

.titleDiv {
  display: flex;
  justify-content: center;
}

.bigTitle {
  color: white;
  margin-top: 1.5rem;
}

.bigCities {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
}

.cities {
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
