.background {
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  height: 100vh;
}

.oneCityDiv {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.suggestions {
  background-color: white;
  border-radius: 0.5rem;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.searchDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.oneCityCard {
  background-color: #289fed;
  padding: 1rem;
  border-radius: 0.5rem;
  -webkit-box-shadow:
    5px 5px 0px 0px #289fed,
    10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff;
  box-shadow:
    5px 5px 0px 0px #289fed,
    10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff;
}

.titleDiv {
  display: flex;
  justify-content: center;
}

.bigTitle {
  color: white;
  margin-top: 1.5rem;
}

.searchInput {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 200px;
}

.searchButton {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #289fed;
  color: white;
  cursor: pointer;
}

.highlight {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #5fb8ff;
  color: white;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #5fb8ff;
}
