.background {
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  background-repeat: repeat-y;
  background-position: center center;
  height: 100vh;
}

.oneCityDiv {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
}

.dropDown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: white;
  border-radius: 0.5rem;
  max-height: 150px;
  overflow-y: auto;
}

.suggestions {
  background-color: white;
  border-radius: 0.5rem;
  max-height: 150px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.noResults {
  display: flex;
  justify-content: center;
  background-color: #289fed;
  color: gray;
}

.loading {
  display: flex;
  justify-content: center;
  background-color: #289fed;
  color: white;
}

.error {
  display: flex;
  justify-content: center;
  background-color: #289fed;
  color: red;
}

.searchDiv {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
}

.titleDiv {
  display: flex;
  justify-content: center;
}

.bigTitle {
  color: white;
  margin-top: 1.5rem;
}

.searchInput {
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  width: 200px;
}

.searchButton {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #289fed;
  color: white;
  cursor: pointer;
}

.highlight {
  padding: 0.5rem 1rem;
  border: 1px solid black;
  background-color: #5fb8ff;
  color: white;
  cursor: pointer;
}

.searchButton:hover {
  background-color: #5fb8ff;
}
