.searchDiv {
  border: 3px solid rgb(30, 95, 216);
  border-radius: 20px;
  margin-top: 1.5rem;
}

.closeBtnDiv {
  margin-left: auto;
  width: 100px;
  text-align: end;
}

.headlineBtn {
  margin-top: 1rem;
  margin-right: 1rem;
}

.leftSide {
  margin-left: 2rem;
}

.midSide {
  margin-top: 2.2rem;
}

.rightSide {
  margin-top: 2.2rem;
}

.tableIcon {
  width: 200px;
}

.searchTableDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 1rem;
}

.infoDiv > p {
  font-size: 14pt;
}

.nextDaysDiv {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.forecastDiv {
  margin-bottom: 1rem;
}
