.cityForm {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 1rem;
}

.inputCity {
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 40px;
  width: 100%;
  font-size: 16pt;
  text-align: center;
}
.inputCity:focus-visible {
  outline: none;
}

.inputCity::placeholder {
  font-size: 16pt;
  color: rgb(99, 90, 90);
  text-align: center;
  padding-right: 3rem;
}

.inputBtn {
  border: 2px solid blue;
  border-radius: 20px;
  height: 40px;
  width: 25em;
  background-color: rgb(59, 112, 226);
  color: white;
  font-size: 14pt;
  cursor: pointer;
}

.inputBtn:hover {
  background-color: rgb(28, 78, 185);
}
