h1 {
  margin-top: 10px;
  color: #333;
  font-size: 2rem;
  text-align: center;
}
form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  margin: 10px 0 5px 0;
  font-size: 1.2rem;
  color: #555;
}
input {
  margin: 10px 0;
  padding: 10px;
  width: 80%;
  border: 1px solid #ccc;
  border-radius: 5px;
}
button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.loginDiv {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
