.citiesDiv {
  border: 2px solid rgb(155, 51, 51);
  border-radius: 10px;
  padding: 1em 2em;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.updateText {
  height: 50px;
}

.countryText {
  height: 30px;
  width: 35px;
}

.detailBtn {
  border: 1px solid rgb(58, 118, 197);
  border-radius: 20px;
  background-color: rgb(38, 38, 214);
  color: white;
  width: 100px;
  cursor: pointer;
  padding: 0.5rem;
  margin-top: 1.5rem;
}

.detailBtn:hover {
  background-color: rgb(29, 29, 167);
}

.conditionWeather {
  font-size: 14pt;
}

.temperature {
  font-weight: 600;
}

.weatherIcon {
  width: 100px;
}
