* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-image: url("./images/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.container {
  margin: auto;
  width: 80%;
}
