.weatherCardLight {
  display: flex;
  justify-self: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  gap: 1.5rem;
  border-radius: 0.5rem;
  width: 300px;
  padding: 1rem;
  color: var(--color-lightText);
}

.weatherCardDark {
  display: flex;
  justify-self: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.3);
  gap: 1.5rem;
  border-radius: 0.5rem;
  width: 300px;
  padding: 1rem;
  color: var(--color-text);
}

.weatherCardContent {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}

.favDiv {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.favDiv button {
  background: var(--color-lightBackground);
  border: rgb(233, 233, 30) solid 1px;
  border-radius: 1rem;
  padding: 0.3rem 0.5rem;
  cursor: pointer;
}

.cardError {
  color: var(--color-error);
}

.topContent {
  display: flex;
  gap: 2.5rem;
  align-items: center;
}
.weatherState {
  display: flex;
  flex-direction: column;
  align-items: center;
}
