.weatherCard {
  display: flex;
  justify-self: center;
  justify-content: center;
  background-color: #289fed;
  border-radius: 0.5rem;
  width: 300px;
  -webkit-box-shadow:
    5px 5px 0px 0px #289fed,
    10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff;
  box-shadow:
    5px 5px 0px 0px #289fed,
    10px 10px 0px 0px #5fb8ff,
    15px 15px 0px 0px #a1d8ff;
}

.weatherCardContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1rem;
}

.cardError {
  color: red;
}

.topContent {
  display: flex;
  gap: 3rem;
  align-items: center;
}
.weatherState {
  display: flex;
  flex-direction: column;
  align-items: center;
}
